<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FlightStatusMapper">

    <select id="flights_search" resultType="FlightStatus">
        select
            a.flight_number,
            a.departureAirport,
            a.arrivalAirport,
            a.departure_time,
            a.arrival_time,
            b.status
        from flights.flights as a
        join flights.flight_status as b on a.flight_id = b.flight_id
        where 1=1

            and a.departureAirport = #{departureAirport}

        <if test="arrivalAirport != null">
            and a.arrivalAirport = #{arrivalAirport}
        </if>
    </select>



</mapper>